<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
</head>
<body>
    <div class="login">
       <h1>Car Price Prediction</h1>
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h3>
            <legend>Car Price Prediction Form</legend>
        </h3>
        <div class="mb-3">
            <label class="form-label">Make</label>
            <select class="form-control" name="Make" placeholder="Enter Car Make" required>
                <option class="placeholder" selected disabled value="">Select Car Make</option>
                <option value="nissan">nissan</option>
                <option value="honda">honda</option>
                <option value="ford">ford</option>
                <option value="kia">kia</option>
                <option value="chevrolet">chevrolet</option>
                <option value="volkswagen">volkswagen</option>
                <option value="mercedes">mercedes</option>
                <option value="bmw">bmw</option>
                <option value="toyota">toyota</option>
                <option value="hyundai">hyundai</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Model</label>
            <select class="form-control" name="Model" placeholder="Enter Car Model" required>
                <option class="placeholder" selected disabled value="">Select Car Model</option>
                <option value="model a">model a</option>
                <option value="model b">model b</option>
                <option value="model c">model c</option>
                <option value="model d">model d</option>
                <option value="model e">model e</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Year</label>
            <select class="form-control" name="Year" placeholder="Enter Car Year" required>
                <option class="placeholder" selected disabled value="">Select Car Year</option>
                {% for year in [2006, 2007, 2023, 2002, 2004, 2019, 2013, 2001, 2011, 2022, 2000, 2008, 2010, 2021, 2016, 2003, 2014, 2005, 2009, 2020, 2018, 2017, 2012, 2015] %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Mileage</label>
            <input class="form-control" type="number" name="Mileage" placeholder="Enter Mileage" min="1000" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Fuel Type</label>
            <select class="form-control" name="Fuel_Type" placeholder="Enter Fuel Type" required>
                <option class="placeholder" selected disabled value="">Select Fuel Type</option>
                <option value="diesel">diesel</option>
                <option value="electric">electric</option>
                <option value="hybrid">hybrid</option>
                <option value="petrol">petrol</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Engine Size</label>
            <input class="form-control" type="number" step="0.01" name="Engine_Size" placeholder="Enter Engine Size" required />
        </div>
        <div class="mb-3">
            <label class="form-label">Transmission</label>
            <select class="form-control" name="Transmission" placeholder="Enter Transmission Type" required>
                <option class="placeholder" selected disabled value="">Select Transmission</option>
                <option value="automatic">automatic</option>
                <option value="manual">manual</option>
                <option value="cvt">cvt</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Body Type</label>
            <select class="form-control" name="Body_Type" placeholder="Enter Body Type" required>
                <option class="placeholder" selected disabled value="">Select Body Type</option>
                <option value="coupe">coupe</option>
                <option value="suv">suv</option>
                <option value="truck">truck</option>
                <option value="hatchback">hatchback</option>
                <option value="sedan">sedan</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Color</label>
            <select class="form-control" name="Color" placeholder="Enter Car Color" required>
                <option class="placeholder" selected disabled value="">Select Car Color</option>
                <option value="red">red</option>
                <option value="gray">gray</option>
                <option value="black">black</option>
                <option value="blue">blue</option>
                <option value="white">white</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Owner History</label>
            <select class="form-control" name="Owner_History" placeholder="Enter Owner History" required>
                <option class="placeholder" selected disabled value="">Select Owner History</option>
                <option value="first owner">first owner</option>
                <option value="second owner">second owner</option>
                <option value="third owner">third owner</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input class="form-control" type="number" name="Age" placeholder="Enter Car Age" required />
        </div>
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Car Price" required />
        </div>
    </form>
    <h2>
       The prediction is: {{ results }}
    </h2>
</div>
</body>
</html>
